@theme {
    --spacing: 8px;
    --color-brand: #0034b8;
    --color-brand-100: #ffffff;
    --color-brand-200: #f0f4ff;
    --color-brand-300: #c7d7ff;
    --color-brand-400: #80a4ff;
    --color-brand-500: #2965ff;
    --color-brand-600: #0040e0;
    --color-brand-700: #0034b8;
    --color-brand-800: #002ea3;
    --color-brand-900: #001957;
    --color-brand-1000: #000105;
    --color-success: #33846b;
    --color-success-100: #ffffff;
    --color-success-200: #f4fbf9;
    --color-success-300: #d7efe7;
    --color-success-400: #a3dbca;
    --color-success-500: #65c3a5;
    --color-success-600: #3fa282;
    --color-success-700: #33846b;
    --color-success-800: #2e765f;
    --color-success-900: #183e32;
    --color-success-1000: #010403;
    --color-warning: #c37f18;
    --color-warning-100: #ffffff;
    --color-warning-200: #fefbf6;
    --color-warning-300: #f9e9d2;
    --color-warning-400: #f3d09b;
    --color-warning-500: #eaaf57;
    --color-warning-600: #e49621;
    --color-warning-700: #c37f18;
    --color-warning-800: #b67616;
    --color-warning-900: #5f3e0c;
    --color-warning-1000: #050301;
    --color-danger: #bc5252;
    --color-danger-100: #ffffff;
    --color-danger-200: #fcf8f8;
    --color-danger-300: #f4e2e2;
    --color-danger-400: #e5bdbd;
    --color-danger-500: #d38d8d;
    --color-danger-600: #c46868;
    --color-danger-700: #bc5252;
    --color-danger-800: #b44646;
    --color-danger-900: #5f2525;
    --color-danger-1000: #070303;
    --color-brand-dark: #5c7cff;
    --color-brand-dark-100: #00030f;
    --color-brand-dark-200: #000b38;
    --color-brand-dark-300: #001980;
    --color-brand-dark-400: #002cdb;
    --color-brand-dark-500: #2450ff;
    --color-brand-dark-600: #4d70ff;
    --color-brand-dark-700: #5c7cff;
    --color-brand-dark-800: #adbeff;
    --color-brand-dark-900: #fafbff;
    --color-brand-dark-1000: #ffffff;
    --color-success-dark: #58a78a;
    --color-success-dark-100: #040706;
    --color-success-dark-200: #0e1b16;
    --color-success-dark-300: #203c32;
    --color-success-dark-400: #386b58;
    --color-success-dark-500: #4a8c74;
    --color-success-dark-600: #54a085;
    --color-success-dark-700: #58a78a;
    --color-success-dark-800: #abd3c5;
    --color-success-dark-900: #f8fbfa;
    --color-success-dark-1000: #ffffff;
    --color-warning-dark: #d9a24a;
    --color-warning-dark-100: #080602;
    --color-warning-dark-200: #261a08;
    --color-warning-dark-300: #583e13;
    --color-warning-dark-400: #976a20;
    --color-warning-dark-500: #ca8d2b;
    --color-warning-dark-600: #d79e42;
    --color-warning-dark-700: #d9a24a;
    --color-warning-dark-800: #ecd2a7;
    --color-warning-dark-900: #fefdfb;
    --color-warning-dark-1000: #ffffff;
    --color-danger-dark: #d97878;
    --color-danger-dark-100: #0c0303;
    --color-danger-dark-200: #2c0c0c;
    --color-danger-dark-300: #5f1b1b;
    --color-danger-dark-400: #a72f2f;
    --color-danger-dark-500: #cd4c4c;
    --color-danger-dark-600: #d56c6c;
    --color-danger-dark-700: #d97878;
    --color-danger-dark-800: #ecbbbb;
    --color-danger-dark-900: #fefbfb;
    --color-danger-dark-1000: #ffffff;
    --color-primary: var(--color-brand-600);
    --color-primary-solid: var(--color-brand-600);
    --color-primary-contrast: var(--color-brand-100);
    --color-primary-fg: var(--color-brand-200);
    --color-primary-muted: var(--color-brand-300);
    --color-primary-subtle: var(--color-brand-400);
    --color-primary-emphasized: var(--color-brand-500);
    --color-primary-dark: var(--color-brand-dark-600);
    --color-primary-solid-dark: var(--color-brand-dark-600);
    --color-primary-contrast-dark: var(--color-brand-dark-100);
    --color-primary-fg-dark: var(--color-brand-dark-200);
    --color-primary-muted-dark: var(--color-brand-dark-300);
    --color-primary-subtle-dark: var(--color-brand-dark-400);
    --color-primary-emphasized-dark: var(--color-brand-dark-500);
    --color-success: var(--color-success-600);
    --color-success-solid: var(--color-success-600);
    --color-success-contrast: var(--color-success-100);
    --color-success-fg: var(--color-success-200);
    --color-success-muted: var(--color-success-300);
    --color-success-subtle: var(--color-success-400);
    --color-success-emphasized: var(--color-success-500);
    --color-success-dark: var(--color-success-dark-600);
    --color-success-solid-dark: var(--color-success-dark-600);
    --color-success-contrast-dark: var(--color-success-dark-100);
    --color-success-fg-dark: var(--color-success-dark-200);
    --color-success-muted-dark: var(--color-success-dark-300);
    --color-success-subtle-dark: var(--color-success-dark-400);
    --color-success-emphasized-dark: var(--color-success-dark-500);
    --color-warning: var(--color-warning-600);
    --color-warning-solid: var(--color-warning-600);
    --color-warning-contrast: var(--color-warning-100);
    --color-warning-fg: var(--color-warning-200);
    --color-warning-muted: var(--color-warning-300);
    --color-warning-subtle: var(--color-warning-400);
    --color-warning-emphasized: var(--color-warning-500);
    --color-warning-dark: var(--color-warning-dark-600);
    --color-warning-solid-dark: var(--color-warning-dark-600);
    --color-warning-contrast-dark: var(--color-warning-dark-100);
    --color-warning-fg-dark: var(--color-warning-dark-200);
    --color-warning-muted-dark: var(--color-warning-dark-300);
    --color-warning-subtle-dark: var(--color-warning-dark-400);
    --color-warning-emphasized-dark: var(--color-warning-dark-500);
    --color-danger: var(--color-danger-600);
    --color-danger-solid: var(--color-danger-600);
    --color-danger-contrast: var(--color-danger-100);
    --color-danger-fg: var(--color-danger-200);
    --color-danger-muted: var(--color-danger-300);
    --color-danger-subtle: var(--color-danger-400);
    --color-danger-emphasized: var(--color-danger-500);
    --color-danger-dark: var(--color-danger-dark-600);
    --color-danger-solid-dark: var(--color-danger-dark-600);
    --color-danger-contrast-dark: var(--color-danger-dark-100);
    --color-danger-fg-dark: var(--color-danger-dark-200);
    --color-danger-muted-dark: var(--color-danger-dark-300);
    --color-danger-subtle-dark: var(--color-danger-dark-400);
    --color-danger-emphasized-dark: var(--color-danger-dark-500);
    --color-border: #e5e5e5;
    --color-border-dark: #3a3a3a;
    --color-color-footnote: #777777;
    --color-color-footnote-dark: #a3a3a3;
    --color-secondary-background: #f5f5f5;
    --color-secondary-background-dark: #333333;
    --text-*: initial;
    --leading-*: initial;
    --font-weight-*: initial;
    --text-footnote: 12px;
    --text-text: 14px;
    --text-subtitle: 16px;
    --text-title: 24px;
    --text-headline: 40px;
    --leading-footnote-xs: 12px;
    --leading-footnote-sm: 16px;
    --leading-footnote-md: 20px;
    --leading-text-xs: 14px;
    --leading-text-sm: 18px;
    --leading-text-md: 22px;
    --leading-subtitle-xs: 16px;
    --leading-subtitle-sm: 20px;
    --leading-subtitle-md: 24px;
    --leading-title-xs: 24px;
    --leading-title-sm: 28px;
    --leading-title-md: 32px;
    --leading-headline-xs: 40px;
    --leading-headline-sm: 44px;
    --leading-headline-md: 48px;
    --font-weight-footnote: 400;
    --font-weight-text: 400;
    --font-weight-subtitle: 500;
    --font-weight-title: 600;
    --font-weight-headline: 800;
}

.dark {
    --color-primary: var(--color-brand-dark-600);
    --color-primary-solid: var(--color-brand-dark-600);
    --color-primary-contrast: var(--color-brand-dark-100);
    --color-primary-fg: var(--color-brand-dark-200);
    --color-primary-muted: var(--color-brand-dark-300);
    --color-primary-subtle: var(--color-brand-dark-400);
    --color-primary-emphasized: var(--color-brand-dark-500);
    --color-success: var(--color-success-dark-600);
    --color-success-solid: var(--color-success-dark-600);
    --color-success-contrast: var(--color-success-dark-100);
    --color-success-fg: var(--color-success-dark-200);
    --color-success-muted: var(--color-success-dark-300);
    --color-success-subtle: var(--color-success-dark-400);
    --color-success-emphasized: var(--color-success-dark-500);
    --color-warning: var(--color-warning-dark-600);
    --color-warning-solid: var(--color-warning-dark-600);
    --color-warning-contrast: var(--color-warning-dark-100);
    --color-warning-fg: var(--color-warning-dark-200);
    --color-warning-muted: var(--color-warning-dark-300);
    --color-warning-subtle: var(--color-warning-dark-400);
    --color-warning-emphasized: var(--color-warning-dark-500);
    --color-danger: var(--color-danger-dark-600);
    --color-danger-solid: var(--color-danger-dark-600);
    --color-danger-contrast: var(--color-danger-dark-100);
    --color-danger-fg: var(--color-danger-dark-200);
    --color-danger-muted: var(--color-danger-dark-300);
    --color-danger-subtle: var(--color-danger-dark-400);
    --color-danger-emphasized: var(--color-danger-dark-500);
    --color-border: #3a3a3a;
    --color-color-footnote: #a3a3a3;
    --color-secondary-background: #333333;
}
