@theme {
    --spacing: 8px;
    --color-brand: #0034b8;
    --color-brand-100: #ffffff;
    --color-brand-200: #f0f4ff;
    --color-brand-300: #c7d7ff;
    --color-brand-400: #80a4ff;
    --color-brand-500: #2965ff;
    --color-brand-600: #0040e0;
    --color-brand-700: #0034b8;
    --color-brand-800: #002ea3;
    --color-brand-900: #001957;
    --color-brand-1000: #000105;
    --color-danger: #ff0000;
    --color-danger-100: #ffffff;
    --color-danger-200: #fff5f5;
    --color-danger-300: #ffd6d6;
    --color-danger-400: #ff9e9e;
    --color-danger-500: #ff5757;
    --color-danger-600: #ff1f1f;
    --color-danger-700: #ff0000;
    --color-danger-800: #f00000;
    --color-danger-900: #7a0000;
    --color-danger-1000: #0a0000;
    --color-primary: var(--color-brand-600);
    --color-primary-solid: var(--color-brand-600);
    --color-primary-contrast: var(--color-brand-100);
    --color-primary-fg: var(--color-brand-200);
    --color-primary-muted: var(--color-brand-300);
    --color-primary-subtle: var(--color-brand-400);
    --color-primary-emphasized: var(--color-brand-500);
    --color-border: #e7e7e7;
    --color-color-footnote: #9e9e9e;
    --color-secondary-background: #fafafa;
    --color-danger: var(--color-danger-600);
    --color-danger-solid: var(--color-danger-600);
    --color-danger-contrast: var(--color-danger-100);
    --color-danger-fg: var(--color-danger-200);
    --color-danger-muted: var(--color-danger-300);
    --color-danger-subtle: var(--color-danger-400);
    --color-danger-emphasized: var(--color-danger-500);
    --text-*: initial;
    --leading-*: initial;
    --font-weight-*: initial;
    --text-footnote: 12px;
    --text-text: 14px;
    --text-subtitle: 16px;
    --text-title: 24px;
    --text-headline: 40px;
    --leading-footnote-xs: 12px;
    --leading-footnote-sm: 16px;
    --leading-footnote-md: 20px;
    --leading-footnote-lg: 24px;
    --leading-text-xs: 14px;
    --leading-text-sm: 18px;
    --leading-text-md: 22px;
    --leading-text-lg: 26px;
    --leading-subtitle-xs: 16px;
    --leading-subtitle-sm: 20px;
    --leading-subtitle-md: 24px;
    --leading-subtitle-lg: 28px;
    --leading-title-xs: 24px;
    --leading-title-sm: 28px;
    --leading-title-md: 32px;
    --leading-title-lg: 36px;
    --leading-headline-xs: 40px;
    --leading-headline-sm: 44px;
    --leading-headline-md: 48px;
    --leading-headline-lg: 52px;
    --font-weight-footnote: 400;
    --font-weight-text: 400;
    --font-weight-subtitle: 500;
    --font-weight-title: 600;
    --font-weight-headline: 800;
}
